*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  background-color:rgba(66, 129, 66, 0.933);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-container{
  background-image: url("./assets.js/200012.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 400px;
}